<div class="movie-detail">
  <img src="{{movie.image}}" alt="{{movie.title}}" />
  <h2>Title: {{movie.title}}</h2>
  <h3>Director: {{movie.director}}</h3>
  <h4>Stars: {{movie.stars}}</h4>
  <p>Description: {{movie.description}}</p>
  <p>Showtimes: {{movie.showtimes}}</p>
</div>